<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="dao.RefereeMapper">
 	<insert id="refereeRegister" parameterType="com.sml.referee.dto.RefereeDto">
 		insert into referee values(referee_refereeNumber_sql.nextval, #{refereeName}, 
 								#{refereeBirth}, #{refereeAddress}, #{refereePhoneNumber},
 								#{refereeYes}, #{refereePicture}, #{refereeSport})
 	</insert> 	
 	
 	<select id="refereeCount" resultType="int">
 		select count(*) from referee
 	</select>
 	
 	<select id="refereeList" parameterType="java.util.Map" resultType="com.sml.referee.dto.RefereeDto">
 		<![CDATA[
	 		select * from
	 			(select rownum rnum, a.* from
	 				(select * from referee where refereeyes='1' order by refereeName asc)a)
	 		where rnum >=#{startRow} and rnum <=#{endRow}
 		]]>
 	</select>
 </mapper>