<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.adminDaoMapper">
	
	
	<select id="getManageTeamCount" resultType="int">
		<![CDATA[
		select count(*) from team
		]]>
	</select>	
	
	<select id="getManageTeam" resultType="java.util.HashMap">
		<![CDATA[
			select * from team t,teammember m where t.teamcode=m.teamcode order by t.teamcode
		]]>
	
	</select>
	
	<delete id="manageTeamDelete" parameterType="int">
		DELETE FROM 
          (SELECT * 
            FROM team ,teammember
            WHERE team.teamcode = teammember.teamcode and team.teamcode=#{teamcode}
          )
	</delete>
	
</mapper>