<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="team.dao.TeamMapper">
	
	<select id="loginOk" parameterType="java.util.HashMap" resultType="com.sml.team.dto.TeamDto">
		select * from team where TEAMID=#{id} and TEAMPASSWORD=#{password}
	</select>
	<select id="viewTeamBoardList" parameterType="java.util.HashMap" resultType="com.sml.team.dto.TeamBoardDto">
		<![CDATA[
			select *  from 
			(select rownum as rnum, c.* from 
			(select a.* from TEAMBOARD a, team b where b.teamName=#{teamName} and a.teamcode=b.teamcode order by boardNumber desc) c) d
			where rnum >= #{startRow} and rnum <=#{endRow}
		]]>
	</select>
	
	<select id="scheduleList" resultType="com.sml.team.dto.ScheduleDto">
		select * from TEAMSCHEDULE
	</select>
	
	<insert id="searchMatching" parameterType="com.sml.team.dto.MatchingDto">
		insert into MATCHING values (matching_matchingcode_sql.nextval , #{teamCode} , #{matchingSport} , #{matchingDistance} , #{matchingTime} , #{matchingState})
	</insert>
	
 	<select id="idCheckSelect" parameterType="String" resultType="String">
 		select teamId from team where teamId=#{teamId}
 	</select>
 	
 	<select id="teamIdCheck" parameterType="String" resultType="String">
 		select teamName from team where teamId=#{teamName}
 	</select>
 	
	<select id="getTeamInfo" parameterType="String" resultType="com.sml.team.dto.TeamDto">
 		select * from team where teamName=#{teamName}
 	</select>
 	
 	<select id="getTeamMemberList" parameterType="String" resultType="com.sml.member.dto.MemberDto">
 		select a.* from teamMember a, team b where b.teamName=#{teamName} and a.teamcode=b.teamcode
 	</select>
 	
 	<select id="getBoardCount" parameterType="String" resultType="int">
 		select count(*) from teamBoard a, team b where b.teamName=#{teamName} and a.teamcode=b.teamcode order by boardNumber asc
 	</select>
</mapper>