<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="team.dao.TeamMapper">
	<select id="login" parameterType="java.util.HashMap" resultType="com.sml.team.dto.TeamDto">
		select TEAMLEADERNAME , TEAMGRADE from team where TEAMID = #{id} and TEAMPASSWORD = #{password}
	</select>
	
	<select id="viewTeamBoardList" resultType="com.sml.team.dto.TeamBoardDto">
		select * from TEAMBOARD;
	</select>
</mapper>