<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member.dao.MemberMapper">
	<select id="teamMemberList" resultType="com.sml.member.dto.MemberDto">
		select * from TEAMMEMBER;
	</select>
</mapper>  